# Dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Local Environment Variables
.env
.env.local

# Databases
/server/db/
*.sqlite
*.sqlite-journal

# Production Builds
dist/
build/

# IDE and OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db
